Source: commotion-nm-dispatcher
Section: net
Priority: optional
Maintainer: Nat Meysenburg <nat@opentechinstitute.org>
Build-Depends: debhelper (>= 7.0.8),
               python-all (>= 2.6.6-3~)
Standards-Version: 3.9.4
Homepage: https://github.com/opentechinstitute/nm-dispatcher-olsrd

Package: commotion-nm-dispatcher
Architecture: all
Depends: network-manager,
         psmisc,
         python,
         python-networkmanager (>= 0.9.6+),
         commotion-linux-py,
         ${misc:Depends}
Description: Handles interactions between Commotion Linux components and Network Manager
 This package adds interaction between commotion-mesh-applet
 and network-manager. It allows network to see and notice when
 the machine is in use in a mesh network.
